<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1>Welcome to DINNER 2 U</h1>
      <h3>YOUR ONE STOP SOLUTION </h3>
    </div>

    <img src="../../assets/Background.jpg" />

    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/login" routerDirection="forward">Log in</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Sign up</ion-button>
    </div>
  </div>
</ion-content>
