<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Favorite</h1>

  <ion-row class="favorite-items">
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/burger1.jpg" />
      <p>P86.00</p>
      <h6>Yum Burger Value Meal</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/burger2.jpg" />
      <p>P96.00</p>
      <h6>Yum Burger Cheese Meal</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/sides1.jpg" />
      <p>P30.00</p>
      <h6>Large Fries</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/burger3.png" />
      <p>P110.00</p>
      <h6>Bacon Cheese Yumburger Meal</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0">
      <img src="../../assets/products/sides6.jpg" />
      <p>P60.00</p>
      <h6>Tuna Pie</h6>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0">
      <img src="../../assets/products/dessert4.jpg" />
      <p>P10.00</p>
      <h6>Chocolate Ice Cream</h6>
    </ion-col>
  </ion-row>
</ion-content>
